{{!< default}}
{{#is "index"}}
  <main id="content" class="content" role="main">
    <div class="index-section">
      <article>
        {{>about}}
      </article>
    </div>
  </main>
{{/is}}

{{#is "index, tag"}}
  <div class="index-section">
    <a name="portfolio"></a>

    <div class="container madein-cards-container">
      {{#is "index"}}
        <h1>Мои работы</h1>
      {{/is}}
      {{#is "tag"}}
        <h1>{{tag.name}}</h1>
        {{#if tag.description}}
          <p>{{{tag.description}}}</p>
        {{/if}}
      {{/is}}
      {{pagination}}
      {{>loop}}
      {{pagination}}
    </div>
  </div>
{{/is}}
<div id="page-bottom-margin"></div>
<div id="footer-spacer"></div>
