// ================== General ==================

body {
  background-color: color("grey", "lighten-5");
}

#materialbox-overlay {
  background-color: rgba(255, 255, 255, .75);
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: color("grey", "darken-3");
  line-height: 1.2 !important;
}

h1 {
  font-size: rem-calc(34px);
  margin: rem-calc(0 0 24px 0);
}

h2 {
  font-size: rem-calc(24px);
}

h3 {
  font-size: rem-calc(20px);
}

h4 {
  font-size: rem-calc(18px);
}

h5 {
  font-weight: 300;
  font-size: rem-calc(24px);
  margin: rem-calc(64px 0 24px 0);
}

// ================== Header & Navigation ==================
.madein-nav {
  //margin-bottom: 32px;
  background-color: rgba(255, 255, 255, .92);

  .home-nav-icon {
    font-size: rem-calc(22px);
    color: color("grey", "darken-1");
  }

  .container.nav-wrapper {
    padding: 0 $gutter-width 0 0;
    @media #{$small-and-down} {
      width: 100%;
    }
  }

  .madein-brand-logo {
    padding: rem-calc(0 15px);
    background-color: color("amber", "darken-1");
    color: color("grey", "darken-4");
    font-size: rem-calc(16px);
    font-weight: 500;

    span {
      font-size: rem-calc(14px);
      font-weight: 400;
    }
  }

  a {
    color: color("blue-grey", "darken-4");
    font-size: rem-calc(14px);
  }
}

// ================== About Me Card ==================
.about-me p {
  line-height: 1.8;
  font-weight: 300;
  font-size: rem-calc(16px);
}

.madein-about-card {
  margin: 0;

  .card-content {
    margin: 0;
    padding-top: rem-calc(12px);
    font-size: rem-calc(16px);
    line-height: 1.6;
    font-weight: 400;
    color: color("grey", "darken-3");

    h2 {
      font-size: rem-calc(28px);
      font-weight: 300;
      margin: rem-calc(0 0 2px);
      line-height: 1.2;
    }
  }

  .card-action {
    padding: rem-calc(12px 20px 15px);
    font-weight: 400;
    font-size: rem-calc(13px);
    line-height: 1.6;
    color: color("grey", "darken-4");
    white-space: nowrap;

    a {
      text-transform: none;
      color: color("grey", "darken-4") !important;
    }

    .madein-icon {
      color: color("amber", "darken-3");
      font-size: rem-calc(16px);
      display: inline-block;
      position: relative;
      top: rem-calc(3px);
      padding-right: rem-calc(4px);
    }
  }
}

// ================== Index pages ==================
.index-section {
  margin: rem-calc(32px) auto rem-calc(32px) auto;
}

// ================== Post Assets (via Ghost footnotes feature)==================
.footnotes {
  display: none;
}

#post-assets {
  margin-bottom: rem-calc(24px);
  font-size: rem-calc(12px);
  color: color("grey", "darken-2");

  i[class^="mdi-"] {
    position: relative;
    top: rem-calc(2px);
    margin-left: rem-calc(5px);
  }
}

// ================== Aside ==================
aside {
  display: none;
}

#aside-container {
  margin-top: rem-calc(50px);

  aside {
    margin-top: rem-calc(40px);
    display: block;
    color: color("amber", "darken-1");
    font-weight: 200;
    font-size: rem-calc(22px);
    line-height: 1.8;
    border-left: 1px solid color("amber", "base");
    padding-left: rem-calc(15px);

    @media #{$medium-and-down} {
      font-weight: 200;
      font-size: rem-calc(18px);
    }
  }
}


// ================== Post ==================
.post-container {
  padding: 0;

  @media #{$medium-and-down} {
    width: 100% !important;
    padding: 0 !important;
  }

  article {
    background-color: #fff;
    padding: rem-calc(40px) $gutter-width rem-calc(30px);

    img {
      max-width: 100%;
      height: auto;
    }

    strong img {
      // materialbox-fullscreen selector
      @extend .z-depth-1-half;
      cursor: pointer;
      max-width: 95%;
      display: block;
      margin: 0 auto 10px;
      @media #{$medium-and-down} {
        margin: 0 0 rem-calc(10px);
        max-width: 100%;
      }
      @media #{$small-and-down} {
        margin: rem-calc(0 0 5px);
        max-width: 100%;
        box-shadow: none;
      }
    }

  }

}

// ================== Post tags ==================
.post-tags {
  margin: rem-calc(32px 0 8px);

  a {
    display: inline-block;
    padding: rem-calc(5px 8px 5px);
    position: relative;
    font-size: rem-calc(11px);
    font-weight: 500;
    line-height: rem-calc(8px);
    margin: rem-calc(0 10px 5px 10px);
    background-color: color("amber", "lighten-2");
    color: color("grey", "darken-3");

    &:hover {
      background: color("grey", "lighten-2");
    }

    &:before {
      border-image: none;
      border-style: solid;
      border-width: rem-calc(9px 9px);
      border-color: transparent color("amber", "lighten-2") transparent transparent;
      content: "";
      height: rem-calc(1px);
      left: rem-calc(-17px);
      position: absolute;
      top: 0;
      width: rem-calc(1px);
    }

    &:hover:before {
      border-color: transparent color("grey", "lighten-2") transparent transparent;
    }

    &:after {
      background: #fff;
      content: "";
      height: rem-calc(4px);
      left: rem-calc(-2px);
      position: absolute;
      top: rem-calc(7px);
      width: rem-calc(4px);
      z-index: 999;
      border-radius: rem-calc(5px);
      -moz-border-radius: rem-calc(5px);
      -webkit-border-radius: rem-calc(5px);
    }
  }
}

// ================== Portfolio cards ==================
.madein-card {
  cursor: pointer;

  .card-content {
    padding-top: 0;
    padding-bottom: rem-calc(5px);
  }

  .card-title {
    font-size: rem-calc(18px);
    font-weight: 400;
  }

}

// ================== Portfolio Pagination ==================
.madein-pagination {
  margin: rem-calc(20px 0);

  .current {
    font-size: rem-calc(20px);
    font-weight: 300;
    padding: rem-calc(0 20px);
  }
}

// ================== Footer ==================
#footer-spacer {
  // Sticky footer feature
  height: 0;
  transition: height 1.2s ease;
  -webkit-transition: height 1.2s ease;
  -moz-transition: height 1.2s ease;
  -o-transition: height 1.2s ease;
}

#page-bottom-margin {
  // Bottom margin for index pages on tablet and smaller
  @media #{$medium-and-down} {
    margin-top: rem-calc(48px);
  }
}

#footer {
  margin-top: rem-calc(64px);
  box-shadow: none;
  @media #{$medium-and-down} {
    margin-top: 0; // #page-bottom-margin used instead on index pages
  }

  li {
    line-height: 2;

    .madein-icon {
      font-size: rem-calc(18px);
      display: inline-block;
      position: relative;
      top: rem-calc(4px);
      padding-right: rem-calc(4px);
    }
  }

  .footer-copyright {
    font-size: rem-calc(12px);
  }
}

// ================== Medium-narrow media query ==================
// Used for top nav / side nav switching
$med-narrow-screen-up: 741px !default;
$med-narrow-screen-down: 740px !default;

$med-narrow-and-up: "only screen and (min-width : #{$med-narrow-screen-up})" !default;
$med-narrow-and-down: "only screen and (max-width : #{$med-narrow-screen-down})" !default;

.hide-on-med-narrow-and-down {
  @media #{$med-narrow-and-down} {
    display: none !important;
  }
}

.hide-on-med-narrow-and-up {
  @media #{$med-narrow-and-up} {
    display: none !important;
  }
}
