// ================== General ==================

body {
  background-color: color("grey", "lighten-4");
}

#materialbox-overlay {
  background-color: rgba(255, 255, 255, .75);
}

// ================== Header & Navigation ==================
.madein-nav {
  //margin-bottom: 32px;
  background-color: rgba(255, 255, 255, .92);
  
  .container.nav-wrapper {
    padding: 0 $gutter-width 0 0;
    @media #{$small-and-down} {
      width: 100%;
    }
  }

  .madein-brand-logo {
    padding: 0 15px;
    background-color: color("amber", "darken-1");
    color: color("grey", "darken-4");
    font-size: 16px;
    font-weight: 500;

    span {
      font-size: 14px;
      font-weight: 400;
    }
  }

  a {
    color: color("blue-grey", "darken-4");
    font-size: 14px;
  }
}


// ================== About Me Section ==================
.madein-about {
  .madein-about-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
  }
}

.madein-about-card {
  .card-content {

    .card-title {
      line-height: 0;
    }
    p {
      font-size: 16px;
      margin-top: 6px;
      line-height: 1.8;

      a {
        color: color("blue", "darken-1");

        .madein-icon {
          color: color("blue", "darken-4");
          font-size: 18px;
          display: inline-block;
          position: relative;
          top: 4px;
          margin-right: 4px;
        }
      }
    }
  }
}

// ================== Index pages ==================
.index-section{
  margin: 32px auto 32px auto;
}

// ================== Post Assets (via Ghost footnotes feature)==================
.footnotes {
  display: none;
}

#post-assets {
  margin-bottom: 24px;
  font-size: 12px;
  color: color("grey", "darken-2");

  i[class^="mdi-"] {
    position: relative;
    top: 2px;
    margin-left: 4px;
    color: color("grey", "darken-1");
  }
}


// ================== Post ==================
.post-container {
  padding: 0;

  @media #{$medium-and-down} {
    width: 100%!important;
    padding: 0!important;
  }

  .parallax-container {
    height: 360px;
    img {
      max-width: 120%!important;
    }
    @media #{$medium-and-down} {
      height: 300px;
    }
    @media #{$small-and-down} {
      height: 240px;
    }
  }

  article {
    background-color: #fff;
    padding: 20px $gutter-width 30px;
    
    img {
      max-width: 100%;
      height: auto;
    }
    
    h1,h2,h3 {
      font-weight: 300;
      color: color("grey", "darken-3");
    }
    
    h1 {
      font-size: 32px;
      margin: 0 0 0 0;
    }

    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 16px;
    }
    
    .post-tags {
      a {
        font-weight: 500;
        font-size: 12px;
        padding: 5px 10px;
        margin-left: 10px;
        color: color("grey", "darken-4");
        background-color: color("amber", "darken-1");
        border-radius: 100px;
      }
    }

  }
  
}


// ================== Portfolio cards ==================
.madein-card {
  cursor: pointer;

  .card-content{
    padding-top: 0;
    padding-bottom: 5px;
  }

  .card-title {
    font-size: 18px;
    font-weight: 400;
  }

}


// ================== Portfolio Pagination ==================
.madein-pagination {
  margin: 20px 0;

  .current {
    font-size: 20px;
    font-weight: 300;
    padding: 0 20px;
  }
}

// ================== Footer ==================
#footer-spacer { // Sticky footer feature
  height: 0;
  transition: height 1.2s ease;
  -webkit-transition: height 1.2s ease;
  -moz-transition: height 1.2s ease;
  -o-transition: height 1.2s ease;
}

#page-bottom-margin { // Bottom margin for index pages on tablet and smaller
  @media #{$medium-and-down} {
    margin-top: 48px;
  }
}

#footer {
  margin-top: 64px;
  box-shadow: none;
  @media #{$medium-and-down} {
    margin-top: 0; // #page-bottom-margin used instead on index pages
  }

  li {
    line-height: 2;

    .madein-icon {
      font-size: 18px;
      display: inline-block;
      position: relative;
      top: 4px;
      padding-right: 4px;
    }
  }
}


// ================== Medium-narrow media query ==================
// Used for top nav / side nav switching
$med-narrow-screen-up: 701px !default;
$med-narrow-screen-down: 700px !default;

$med-narrow-and-up: "only screen and (min-width : #{$med-narrow-screen-up})" !default;
$med-narrow-and-down: "only screen and (max-width : #{$med-narrow-screen-down})" !default;

.hide-on-med-narrow-and-down {
  @media #{$med-narrow-and-down} {
    display: none !important;
  }
}

.hide-on-med-narrow-and-up {
  @media #{$med-narrow-and-up} {
    display: none !important;
  }
}
