<div class="card madein-about-card z-depth-1">
  <div class="card-image">
    <img src="{{@blog.logo}}">
  </div>
  <div class="card-content">
    <h2>Олег Фомин</h2>
    Графический дизайнер,
    <nobr>веб-разработчик</nobr>
  </div>
  <div class="card-action">
    <a href="tel:+79267559622"><i class="mdi-hardware-phone-iphone madein-icon"></i>&nbsp;+7 (926) 755-96-22</a><br>
    <a href="mailto:ofstudio@gmail.com"><i class="mdi-content-mail madein-icon"></i>&nbsp;ofstudio@gmail.com</a><br>
    <i class="mdi-communication-location-on  madein-icon"></i>&nbsp;Москва, Россия
  </div>
</div>
