<footer class="page-footer madein-footer amber darken-2">
    <div class="container">
        <div class="row">
            <div class="col l8 m6 s12">
                <h5 class="grey-text text-darken-4">Олег Фомин</h5>
                <p class="grey-text text-darken-4">Графический дизайнер и веб-разработчик.</p>
            </div>
            <div class="col l4 m6 s12">
                <ul>
                    <li>
                        <a class="grey-text text-darken-4" href="tel:+79267559622">
                            <i class="mdi-hardware-phone-iphone madein-icon"></i>
                            +7 (926) 755-96-22
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-darken-4" href="mailto:ofstudio@gmail.com">
                            <i class="mdi-content-mail madein-icon"></i>
                            ofstudio@gmail.com
                        </a>
                    </li>
                    {{!-- <li>
                        <a class="grey-text text-darken-4" href="#!">
                            <i class="mdi-action-account-child madein-icon"></i>
                            LinkedIn
                        </a>
                    </li> --}}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4 z-depth-1-half">
        <div class="container grey-text text-lighten-3">
            © 2015 Oleg Fomin
            <a class="grey-text text-lighten-3 right" href="https://github.com/ofstudio/madein.ofstudio.ru"
               target="_blank">View on GitHub</a>
        </div>
    </div>
</footer>
