<footer class="page-footer madein-footer amber darken-2" id="footer">
  <div class="container">
    <div class="row">
      <div class="col l8 m7 s12">
        <h3 class="grey-text text-darken-4">Олег Фомин</h3>

        <p class="grey-text text-darken-4">Графический дизайнер, <nobr>веб-разработчик.</nobr></p>
      </div>
      <div class="col l4 m5 s12">
        <ul>
          <li>
            <a class="grey-text text-darken-4" href="tel:+79267559622">
              <i class="mdi-hardware-phone-iphone madein-icon"></i>
              +7 (926) 755-96-22
            </a>
          </li>
          <li>
            <a class="grey-text text-darken-4" href="mailto:ofstudio@gmail.com">
              <i class="mdi-content-mail madein-icon"></i>
              ofstudio@gmail.com
            </a>
          </li>
          {{!-- <li>
          <a class="grey-text text-darken-4" href="#!">
          <i class="mdi-action-account-child madein-icon"></i>
          LinkedIn
          </a>
          </li> --}}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container grey-text">
      © 2015 Oleg Fomin
      <a class=" grey-text right" href="https://github.com/ofstudio/madein.ofstudio.ru"
         target="_blank">View on GitHub</a>
    </div>
  </div>
</footer>
