<div class="navbar-fixed">
  <nav class="madein-nav z-depth-1">
    <div class="container nav-wrapper">
      <a href="/" class="madein-brand-logo left">
        Олег Фомин
        <span>/ Портфолио</span>
      </a>
      <ul class="hide-on-med-narrow-and-down right">
        <li><a href="/"><i class="mdi-action-home home-nav-icon"></i></a></li>
        {{#foreach navigation}}
          <li><a href="{{url}}">{{label}}</a></li>
        {{/foreach}}
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse hide-on-med-narrow-and-up right"><i
          class="mdi-navigation-menu"></i></a>
      <ul id="slide-out" class="side-nav">
        <li><a href="/">Главная</a></li>
        {{#foreach navigation}}
          <li><a href="{{url}}">{{label}}</a></li>
        {{/foreach}}
      </ul>
    </div>
  </nav>
</div>
