**/node_modules
.data
.env

theme/src/assets/bower_components
theme/src/assets/css

app/content/*/*
!app/content/apps/README.md
!app/content/data/README.md
!app/content/images/README.md
!app/content/themes/README.md
