<div class="container">
  <div class="row">

    <div class="col s12 m7 l8 about-me">
      <h1>О себе</h1>
      <p>Я дизайнер рекламы, полиграфии и веба.
        Делаю дизайн и фронтенд для сайтов, также много работаю с печатной продукцией и допечатной подготовкой.
        Живу в Москве.
      </p>
      <p>Профессиональные интересы&nbsp;— типографика, верстка, фронтенд-разработка.</p>
      {{!-- <p>
        В настоящий момент ищу постоянную работу: подробная информация
        <a href="/cv">в&nbsp;резюме</a>.
      </p> --}}
    </div>

    <div class="col s12 m5 l4">
      {{> about-card }}
    </div>

  </div>
</div>
