<div class="container madein-about">
  <div class="row">
    <div class="col s12 m6 l7">
      <h4>О себе</h4>

      <p class="madein-about-text">Я дизайнер рекламы, полиграфии и веба.
        Делаю дизайн и фронтэнд для сайтов, также много работаю с печатной продукцией и допечатной подготовкой.
        Профессиональные интересы&nbsp;— типографика, верстка, фронтэнд-разработка.<br><br>

        Живу в Москве.
        В настоящий момент ищу постоянную работу: подробная информация <a href="/cv">в&nbsp;резюме</a>.
      </p>
    </div>
    <div class="col s12 m6 l5">
      {{>about-card}}
    </div>
  </div>
</div>
