<div class="card madein-about-card z-depth-1-half">
  <div class="card-image">
    <img src="{{@blog.logo}}">
  </div>
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">Олег Фомин</span>

    <p>Москва, Россия<br>
      <a href="tel:+79267559622"><i class="mdi-hardware-phone-iphone madein-icon"></i> +7 (926) 755-96-22</a><br>
      <a href="mailto:ofstudio@gmail.com"><i class="mdi-content-mail madein-icon"></i>
        ofstudio@gmail.com</a>
    </p>
  </div>
</div>
