<div class="container">
  <div class="row">

    <div class="col s12 m7 l8 about-me">
      <h1>О себе</h1>
      <p>Я дизайнер сайтов, интерфейсов, полиграфии и рекламы. Профессионально занимаюсь дизайном с 2001 года:
        работал дизайнером в СМИ (журнальная периодика) и печатной рекламе. Последние 5 лет специализируюсь в вебе
        и digital-дизайне.
        Живу в Москве.
      </p>
      <p>Профессиональные интересы&nbsp;— типографика, верстка, фронтенд-разработка. <a href="/cv">Мое резюме.</a></p>
      {{!-- <p>
        В настоящий момент ищу постоянную работу: подробная информация
        <a href="/cv">в&nbsp;резюме</a>.
      </p> --}}
    </div>

    <div class="col s12 m5 l4">
      {{> about-card }}
    </div>

  </div>
</div>
