{{!< default}}
{{#post}}
  <main id="content" class="content" role="main">
    <div class="index-section ">
      <div class="container">
        <div class="row">

          <div class="col s12 m7 l8">
            <article class="{{post_class}}">
              <header class="post-header">
                <h1>{{title}}</h1>
              </header>
              <section id="post-assets"></section>
              <div class="hide-on-med-and-up">
                {{>about-card}}
              </div>
              <section class="post-content">
                {{content}}
              </section>
            </article>
          </div>

          <div class="col s12 m5 l4">
            <div class="hide-on-small-and-down">
              {{>about-card}}
              <div id="aside-container"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
{{/post}}
<div id="page-bottom-margin"></div>
<div id="footer-spacer"></div>


