<!DOCTYPE html>
<html>
<head>
    {{>head}}
    {{ghost_head}}
    <!-- build:css assets/css/madein.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="assets/css/madein.css">
    <!-- endbuild -->
</head>
<body>
{{navigation}}
{{{body}}}
{{>footer}}
<!-- build:js assets/js/libraries.min.js -->
<!-- bower:js -->
<script src="assets/bower_components/modernizr/modernizr.js"></script>
<script src="assets/bower_components/jquery/dist/jquery.js"></script>
<script src="assets/bower_components/fastclick/lib/fastclick.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js assets/js/madein.min.js -->
<!-- Materialize -->
<script src="assets/bower_components/materialize/js/velocity.min.js"></script>
<script src="assets/bower_components/materialize/js/hammer.min.js"></script>
<script src="assets/bower_components/materialize/js/jquery.hammer.js"></script>
<script src="assets/bower_components/materialize/js/global.js"></script>
<script src="assets/bower_components/materialize/js/parallax.js"></script>
<script src="assets/bower_components/materialize/js/waves.js"></script>
<script src="assets/bower_components/materialize/js/sideNav.js"></script>
<script src="assets/bower_components/materialize/js/buttons.js"></script>
<!-- madein-->
<script src="assets/js/materialbox-fullscreen.js"></script>
<script src="assets/js/madein.js"></script>
<!-- endbuild -->
{{> analytics}}
</body>
</html>
